$color-primary: #5b5b5c;
$color-primary-light: #b3b3b3;
$color-secondary: #0e71eb;
$color-secondary-light: #7bb2f4;
$color-tertiary: #f26d21;
$color-background: #39394d;
$color-white: #fff;
$color-black: #000;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horinzontal: 6rem;